* {
    box-sizing: border-box;
}

body {
    background-color: #f0f2f2;
    font-family: 'Open Sans Condensed', sans-serif;
    overflow-x: hidden;
}

nav {
    line-height: normal;
    height: auto;
}

.main-container {
    display: flex;
    padding: 0;
}

.side-nav {
    background: linear-gradient(#41C9A9, #34a7c1);
    min-height: 100vh;
    flex: 0 0 130px;
}

.offset-block {
    border-bottom: 2px solid #fff;
    height: 100px;
}

.side-main-container {
    padding-top: 30px;
}


.side-nav-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.side-nav-content i.side-nav-icon {
    font-size: 50px;
    height: 53px;
}

.side-nav-item {
    cursor: pointer;
    margin-bottom: 25px;
    text-align: center;
    transition: transform .2s ease-in-out;
}

.side-nav-item:nth-child(2) {
    margin-bottom: 28px;
}

.side-nav-item:nth-child(2) i.side-nav-icon {
    font-size: 60px;
}

.side-nav-item:hover {
    transform: scale(1.1, 1.1);
    transition: transform .2s ease-in-out;
}

.side-nav-item a {
    padding: 0;
}

.side-nav-item a:hover {
    background-color: transparent;
}

.icon-description {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.main-content-container {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.main-header {
    display: flex;
    width: 100%;
}

.main-header .col-auto {
    display: flex;
    padding: 0;
}

.header-title-wrapper {
    background: linear-gradient(to right, #afbab8, #89908f 55%);
    padding: 10px 20px;
}

.header-title {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header-tab {
    align-items: center;
    background-color: #41C9A9;
    border-right: 1px solid #45ceae;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    padding: 10px 45px;
    text-align: center;
    text-transform: capitalize;
    transition: background .5s;
}

.main-header > .header-tab:last-child {
    background-color: #41C9A9;
    cursor: auto;
}

#menu-toggle-wrapper {
    padding: 10px 30px;
}

.main-header > .col-auto + .col-auto > .header-tab {
    border-right: none;
    padding: 10px 85px;
}

.header-tab > a {
    color: #fff;
}

.main-header a.header-tab {
    cursor: pointer;
}

.main-header a.header-tab:hover {
    background-color: #35c0a0;
    transition: background .5s;
}

.menu-toggle {
    background: none;
    border: none;
}

.menu-toggle:focus {
    background-color: transparent;
}


.menu-toggle i {
    color: #fff;
    cursor: pointer;
}

.settings-widget-wrapper {
    padding: 25px;
}

.settings-widget-container {
    background-color: #fff;
    box-shadow: 0 0 6px #b3b3b3, 0 4px 6px #b3b3b3;
    padding: 35px 15px 50px 115px;
}

.notification-widget-container {
    margin-bottom: 35px;
}

.notification-label {
    align-items: center;
    color: #41c9a9;
    display: flex;
    font-weight: bold;
    font-size: 27px;
    justify-content: space-between;
    text-transform: capitalize;
}

.switch label .lever {
    height: 18px;
}

.switch label .lever:before, .switch label .lever:after {
    top: -1.5px;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #41c9a9;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #f0f2f2;
}

.section-description {
    color: #818181;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1.3;
}

.frequency-select {
    padding: 0;
    margin: 5px 0 125px;
    width: 35px;
}

.select-wrapper input.select-dropdown {
    height: 33px;
}

.select-wrapper .caret {
    display: none;
}

.emails-container {
    margin-bottom: 125px;
}

.section-title {
    color: #41c9a9;
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 35px;
    text-transform: capitalize;
}

.email-description {
    font-family: "Open Sans", sans-serif;
}

.emails-container .section-description {
    margin-bottom: 35px;
}

input[type=email].email-input,
input[type=tel].tel-input {
    height: 2.25rem;
}

.text-messages-container .section-description {
    margin-bottom: 35px;
}

.input-field > label.input-label {
    color: #818181;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.messages-container {
    box-shadow: 0 0 4px #929292;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 475px;
    width: 100%;
    z-index: 10;
}

.show-messages {
    display: block;
}

.messages-header-bar {
    align-items: center;
    background-color: #41C9A9;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 17px 15px;
}

.messages-header-bar i {
    cursor: pointer;
}

.new-conversation-title {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

.messages-sub-header-bar {
    align-items: center;
    background-color: #f0f2f2;
    color: #41C9A9;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.messages-sub-header-bar i {
    cursor: pointer;
}

.messages-sub-header-bar span {
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.message-history-container {
    background-color: #fff;
    height: 60vh;
}

.send-message-container {
    background-color: #35a9c0;
    min-height: 15vh;
}

.message-list {
    display: flex;
    justify-content: center;
    padding: 15px 10px;
    text-align: center;
}

.message-option {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    padding: 0 10px;
}

.message-wrapper {
    display: flex;
    justify-content: center;
}

.message-text-area {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    min-height: 30px;
    padding: 7px 30px 7px 10px;
    position: relative;
    width: 90%;
}

.message-text-area:before {
    color: #41C9A9;
    content: "\e163";
    cursor: pointer;
    font-family: "Material Icons";
    font-size: 16px;
    position: absolute;
    right: 8px;
    top: calc(50% - 8px);
}

.message-text-area i {
    color: #41C9A9;
    position: absolute;
    right: 5px;
    top: calc(50% - 12px);
}

.slide-messages-in {
    animation: slideInToLeft .5s both;
}

.slide-messages-out {
    animation: slideOutToRight .5s both;
}

@keyframes slideInToLeft {
    from {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes slideOutToRight {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      transform: translate3d(100%, 0, 0);
    }
  }